<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBookListServlet</servlet-name>
    <servlet-class>servlets.QueryBookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBookListServlet</servlet-name>
    <url-pattern>/QueryBookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToTrolleyServlet</servlet-name>
    <servlet-class>servlets.AddToTrolleyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToTrolleyServlet</servlet-name>
    <url-pattern>/AddToTrolleyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMyTrolleyServlet</servlet-name>
    <servlet-class>servlets.QueryMyTrolleyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMyTrolleyServlet</servlet-name>
    <url-pattern>/QueryMyTrolleyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMyTrolleyServlet</servlet-name>
    <servlet-class>servlets.DeleteMyTrolleyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMyTrolleyServlet</servlet-name>
    <url-pattern>/DeleteMyTrolleyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>servlets.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMyOrderServlet</servlet-name>
    <servlet-class>servlets.QueryMyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMyOrderServlet</servlet-name>
    <url-pattern>/QueryMyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOrderDetailServlet</servlet-name>
    <servlet-class>servlets.CheckOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOrderDetailServlet</servlet-name>
    <url-pattern>/CheckOrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBookStockServlet</servlet-name>
    <servlet-class>servlets.QueryBookStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBookStockServlet</servlet-name>
    <url-pattern>/QueryBookStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportBookExistServlet</servlet-name>
    <servlet-class>servlets.ImportBookExistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportBookExistServlet</servlet-name>
    <url-pattern>/ImportBookExistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportBookServlet</servlet-name>
    <servlet-class>servlets.ImportBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportBookServlet</servlet-name>
    <url-pattern>/ImportBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBookInfoServlet</servlet-name>
    <servlet-class>servlets.QueryBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBookInfoServlet</servlet-name>
    <url-pattern>/QueryBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBookInfoServlet</servlet-name>
    <servlet-class>servlets.UpdateBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookInfoServlet</servlet-name>
    <url-pattern>/UpdateBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RootCheckOrderServlet</servlet-name>
    <servlet-class>servlets.RootCheckOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootCheckOrderServlet</servlet-name>
    <url-pattern>/RootCheckOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RootCheckOrderDetailServlet</servlet-name>
    <servlet-class>servlets.RootCheckOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootCheckOrderDetailServlet</servlet-name>
    <url-pattern>/RootCheckOrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryServlet</servlet-name>
    <servlet-class>servlets.DeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryServlet</servlet-name>
    <url-pattern>/DeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryDataServlet</servlet-name>
    <servlet-class>servlets.QueryDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDataServlet</servlet-name>
    <url-pattern>/QueryDataServlet</url-pattern>
  </servlet-mapping>
</web-app>